# Više o ignorisanju fajlova: https://docs.github.com/get-started/getting-started-with-git/ignoring-files.

# Rezultati prevođenja
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# Razvojna okruženja i editori
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Razno
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# Sistemski fajlovi
.DS_Store
Thumbs.db

# Generisana konfiguracija frontend okruženja
/src/environments/environment.ts
