# Zavisnosti
node_modules/

# Fajlovi promenljivih okruženja
.env
.env.local
.env.example

# Fajlovi operativnog sistema
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dnevnici
npm-debug.log*
yarn-error.log*
